#include <windows.h>

1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,3,1,0
 PRODUCTVERSION 1,3,1,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "The Meta Game contributors\0"
            VALUE "FileDescription", "The Meta Game Reset Utility\0"
            VALUE "FileVersion", "1.3.1.0\0"
            VALUE "InternalName", "reset-game\0"
            VALUE "LegalCopyright", "Dedicated to the public domain under the Unlicense\0"
            VALUE "OriginalFilename", "reset-game.exe\0"
            VALUE "ProductName", "The Meta Game\0"
            VALUE "ProductVersion", "1.3.1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
